* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-image: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider {
    max-width: 460px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide-image {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 40px;
    background-image: url(/images/pattern-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slide-content {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top center;
}

.testimonial {
    font-weight: 300;
    font-size: .7rem;
    line-height: 1rem;
    color: hsl(240, 38%, 20%);
}

.author {
    margin-top: 30px;
    color: hsl(240, 38%, 20%);
    font-size: .5rem;
    font-weight: 500;
}

.author span {
    color: hsl(240, 18%, 77%);
    font-weight: 300;
    display: block;
}

.slide-image img {
    height: 100%;
    width: 300px;
}

.slider-buttons {
    background-color: rgb(248, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 15px;
    left: 45%;
    top: 50%;
    height: 30px;
}

.next, .prev {
    width: 10px;
    height: 15px;
    cursor: pointer;
    margin: 10px;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

@media only screen and (min-width: 650px) {
    .slider-buttons{
        background-color: green;
    }
}